/* primary text color #757575 */
/* secondary text color #212121 */
/* text color contacts footer rgba(255, 255, 255, 0.6) */
/* accent text color #2196F3 */
/* white color #FFFFFF */
/* main background color #FFFFFF */
/* secondary background color #F5F4FA */
/* footer bbackgroung color #2F303A */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-bg-color: #2f303a;
  --card-border-color: #eeeeee;
  --header-border-color: #ececec;
  --icons-color: #afb1b8;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  margin-top: 0px;
  margin-bottom: 0px;
  /* padding-top: 94px;
  padding-bottom: 94px; */
}

.section-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  /* padding-top: 94px; */
}

.section-list.list {
  margin-top: 0px;
  margin-bottom: 0px;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* page header */
.page-header {
  display: flex;
  flex-direction: row;
  max-height: 80px;
  width: 1600px;
  background-color: var(--primary-white-color);
  border-bottom: 1px solid var(--header-border-color);
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  /* margin-right: 0px; */
  margin-left: 215px;
}

.header-logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo-part {
  color: var(--secondary-text-color);
}

/* site nav */
.site-nav {
  display: flex;
  margin-left: 93px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.site-nav .item+.item {
  margin-left: 50px;
}

.site-nav .link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.current:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* .contacts-nav */
.contacts-nav {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 215px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.contacts-nav .item {
  /* padding-top: 32px;
  padding-bottom: 32px; */
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-nav .item+.item {
  margin-left: 30px;
}

.contacts-nav .icon {
  fill: currentColor;
  padding-left: 0px;
  margin-right: 10px;
}

.contacts-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 30px; */
  background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--footer-bg-color);
  margin-bottom: 94px;
}

.hero-title {
  width: 696px;
  /* display: block; */
  /* display: flex; */
  /* flex-direction: column; */
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* padding-top: 200px; */
  /* margin-bottom: 30px; */
}

/* features */
.highlight {
  /* padding-top: 94px; */
  /* padding-bottom: 94px; */
  margin-bottom: 94px;
}

/* .features {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
} */

.features{
  /* width: 1200px; */
  list-style: none;
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  /* padding-left: 15px;
  padding-right: 15px; */
  display: flex;
  justify-content: flex-start;

}
.features .item {
  width: calc((100%-90px) / 4);
  padding: 0px;
  margin-right: 30px;
}

.features .item:nth-child(4n) {
  margin-right: 0px;
}

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  /* padding-top: 30px; */
  margin-top: 0px;
  margin-bottom: 10px;
  /* margin-right: 30px; */
}


.features-text {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 0px;
  /* margin-right: 30px; */
}

/* our work */
.work>.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-work {
  margin-bottom: 94px;
  /* padding-top: 0px;
  padding-bottom: 94px; */
}

.section-work>.section-title {
  padding-top: 0;
}

.work {
  display: flex;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.work>.item {
  position: relative;
  /* overflow: hidden; */
  width: calc((100%-60px) / 3);
  padding: 0px;
  margin-right: 30px;
}

.work>.item:nth-child(3n) {
  margin-right: 0px;
}

.item .work-type {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  /* padding-bottom: 94px; */

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* our team */

.section-team {
  background-color: var(--secondary-bg-color);
  padding-bottom: 94px;
  padding-top: 94px;
  /* margin-bottom: 94px; */
  
}

.team {
  display: flex;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  
}

.team>.item {
  width: calc((100%-90px) / 4);
  padding: 0px;
  margin-right: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team>.item:nth-child(4n) {
  margin-right: 0px;
}

.card-content {
  margin: 30px 32px;
}

.employee-name {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

.employee-position {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0px;
  margin-bottom: 16px;
  text-align: center;
}

.emploee-sn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 0px 32px 30px 32px; */
  padding-left: 0px;
  list-style: none;
}

.sn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0px;
  border: none;
  border-radius: 50%;
  fill: var(--icons-color);
  background-color: var(--primary-white-color);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.emploee-sn a:hover .sn-link,
.emploee-sn a:focus .sn-link {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* our clients */
.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-white-color);
}

.clients {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.clients>.company-name {
  width: calc((100%-150px) / 6);
  height: 92px;
  padding: 0px;
  margin-right: 30px;
}

.clients>.company-name:last-child {
  margin-right: 0px;
}

.company {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  padding: 0px;
  background-color: var(--primary-white-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  fill: var(--icons-color);
  background-color: var(--primary-white-color);
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients a:hover .company,
.clients a:focus .company {
  fill: var(--accent-color);
  /* background-color: var(--primary-white-color); */
  border: 1px solid var(--accent-color);
  /* border-radius: 4px; */
}

/* portfolio */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* portfolio products */
.btn-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 50px;
  list-style: none;
}

.btn .btn-link {
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  border-radius: 4px;
  
}

.btn+.btn {
  margin-left: 8px;
}

.btn-link {
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
  box-shadow: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-link:hover,
.btn-link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-set>.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 0px;
  /* padding-bottom: 94px; */
}

.card-set>.container>.item {
  width: calc((100% - 60px) / 3);
  padding-bottom: 0px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--card-border-color);
  cursor: pointer;
}

.card-set a:focus .card-content,
.card-set a:hover .card-content {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set>.container>.item:nth-child(3n) {
  margin-right: 0px;
}

.card-set>.container>.item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.card-content {
  margin: 0px;
  padding: 20px 24px 20px 24px;
}

.item .title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  margin-top: 0px;
  margin-bottom: 4px;
}

.item-type {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9em;
  margin: 0px;
}

.card-set .item a {
  text-decoration: none;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  margin: 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  opacity: 0;

  transform: translateY(100%);
 
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.card-set a:hover .overlay-text,
.card-set a:focus .overlay-text {
  opacity: 1;
  transform: translateY(0);
}

/* button */
.button {
  font-family: inherit;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03;
}

.button.primary {
  font-weight: 700;
  font-size: 16px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  width: 200px;
  height: 50px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus {
  color: var(--primary-white-color);
  background-color: #188ce8;
}

.link {
  text-decoration: none;
}

.link.list {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* footer */
.page-footer {
  background-color: var(--footer-bg-color);

  padding-top: 56px;
  padding-bottom: 64px;
  margin-right: auto;
  margin-left: auto;
}

.page-footer .container {
  display: flex;
  /* flex-direction: row; */
  align-items: baseline;
}

.footer-contacts {
  display: block;
 
}
/* .footer-contacts a{
  margin-bottom: 20px;
} */

.footer-logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  /* margin-bottom: 20px; */
}

.footer-logo-part {
  color: var(--primary-white-color);
  /* margin-bottom: 20px; */
}

.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
}

.footer-contacts {
  display: block;
  margin-right: 70px;
}

.company-address {
  padding-top: 20px;
  text-decoration: none;
  font-style: normal;
}
.address {
  color: var(--primary-white-color);
  font-size: 14px;
  text-decoration: none;
  font-style: normal;
  margin-top: 0px;
  margin-bottom: 9px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* .footer-nav .item + .item {
  margin-top: 9px;
} */
.footer-nav .link {
  margin-bottom: 9px;
}

.footer-nav .link:last-child {
  margin-bottom: 0px;
}

.footer-nav a {
  color: var(--footer-contacts-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav a:hover,
.footer-nav a:focus {
  color: var(--accent-color);
}

.footer-sn p {
  color: var(--primary-white-color);
  text-transform: uppercase;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.footer-sn {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  margin-right: auto;
}

.social-network {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

.footer-sn-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  fill: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  /* margin-right: 10px; */
  padding: 0px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sn-icon {
  margin-right: 10px;
}

.footer-sn-icon:nth-child(4n) {
  margin-right: 0px;
}

.social-network a:focus .footer-sn-link,
.social-network a:hover .footer-sn-link {
  /* fill: var(--primary-white-color); */
  background-color: var(--accent-color);
}

  .subscribe-form {
  width: 570px;
  height: 86px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.subscribe-form-input {
  display: flex;
  flex-direction: column;
}

.subscribe-form-field-name {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.subscribe-form-input-area {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: var(--footer-bg-color);
  padding-left: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.subscribe-form-input ::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;

}

.subscribe-form-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  padding: 0;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  margin-right: 0;
  text-align: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-submit-btn:hover,
.subscribe-form-submit-btn:focus {
  /* color: var(--primary-white-color); */
  background-color: #188ce8;
  cursor: pointer;
}

.subscribe-form-submit-btn .icon {
  fill: var(--primary-white-color);
  margin-left: 12px;
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);

  /* transform: translate(-50%, -50%);
  opacity: 0; */
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  /* height: 581px; */
  padding: 40px;
  

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* transform: translate(-50%, -50%);
  opacity: 1; */
}

.modal-close {
  position: absolute;

  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;

  fill: var(--secondary-text-color);
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);

  border-radius: 50%;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  border-color: var(--accent-color);
}
.modal-close .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .icon,
.modal-close:focus .icon{
  fill: var(--accent-color);
}

.contact-form{
  display: flex;
  flex-direction: column;
}

.contact-form-title{
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}
.contact-form-field{
  margin-bottom: 10px;
}


.contact-form-input{
  width: 100%;
  height: 40px;
  border: solid 1px rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  }
.contact-form-input:focus,
.contact-form-input:hover{
  outline: none;
  border-color: var(--accent-color);
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-field-name{
  font-family: Roboto, sans-serif;
  color:rgba(117, 117, 117, 1);;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  margin-bottom: 4px;
}

.contact-form-message{
  resize: none;
  width: 100%;
  min-height: 120px;
  border: solid 1px rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  /* margin-bottom: 20px; */
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-message:focus,
.contact-form-message:hover{
  outline: none;
  border-color: var(--accent-color);
}
.contact-form-message::placeholder{
  font-family: Roboto,
  sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1,17;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form-input-wrapper {
  position: relative;
}
.contact-form-input-wrapper .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus+.icon,
.contact-form-input:hover+.icon {
  fill: var(--accent-color);
}

.contact-form-checkbox-wrapper{
  font: inherit;
  font-size: 14px;
  line-height: 1,7;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}


.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1,7em;
  letter-spacing: 0,03;
  color: rgba(117, 117, 117, 1);
}

.contact-form-checkbox-label a {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: underline;
}

.contact-form-checkbox-label::before{
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: solid 1px rgba(33, 33, 33, 1);
  cursor: pointer;
  margin-right: 10px;
}

.contact-form-checkbox:hover +.contact-form-checkbox-label::before,
.contact-form-checkbox:focus +
.contact-form-checkbox-label::before {
  border: solid 1px var(--accent-color);
  border-radius: 2px;
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-image: url(../images/icon-check.svg);
  border: none;
  border-radius: 2px;
}
.contact-form-checkbox:focus,
.contact-form-checkbox:hover + .contact-form-checkbox-label::before {
  outline: 1px solid white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contact-form-submit-btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1,88;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  padding: 0;
  width: 200px;
  height: 50px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  /* margin-bottom: 40px; */

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit-btn:hover,
.contact-form-submit-btn:focus {
  /* color: var(--primary-white-color); */
  background-color: #188ce8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}